@import "tailwindcss";
@plugin "daisyui";

/*Ocultar barra de desplazamiento horizonal*/
.no-scrollbar {
    -ms-overflow-style: none;     /* IE y Edge */
    scrollbar-width: none;        /* Firefox */
}
  
.no-scrollbar::-webkit-scrollbar {
    display: none;                /* Chrome, Safari, Opera */
}